<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[tabulator-wicket-demo] %d %p %c{1}:%L | %m%n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	</root>
	
    <logger name="tabulator.wicket" level="trace" /> 

		
</configuration>